.image {
  width: 300px;
  border: 2px;
  border-color: black;
  border-style: solid;
}
.choice {
  width: 140px;
  height: 140px;
}
.button-row {
  display: flex;
  margin-top: 20px;
}
.info-text {
  height: 140px;
  padding: 15px;
  padding-top: 45px;
  text-align: center;
  justify-content: center;
}